<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<%- include block/header.ejs %>
	<div id="page-content" class="container">
		<h1><%= title %></h1>
		<p>Pour les Gros Mangeurs de villes</p>
	</div>
</body>
</html>
