<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<%- include block/header.ejs %>
	<div id="index-banner" class="jumbotron">
		<div id="index-banner-img"></div>
		<div id="index-banner-mask"></div>
		<div id="index-banner-content" class="container">
			<h2>Le site des gros mangeur de villes</h2>
			<button class="button white">S'inscrire</button>
		</div>
	</div>
	<div id="page-content" class="container-fluid">
		<div class="row">
			<div class="col-lg-10">
				
			</div>
		</div>
	</div>
</body>
</html>
