.button {
	border: 1px solid @lightGrey;
	color: @mediumGrey;
	background-color: transparent;
	border-radius: 1px;
	font-size: 1em;
	letter-spacing: 1px;
	padding-left: 1em;
	padding-right: 1em;
	&.blue {
		border-color: @blue;
		color: @blue;
		&:hover {
			color: @white;
			border-color: @blue;
			background-color: @blue;
		}
	}
	&.blue-plain {
		border-color: @blue;
		background-color: @blue;
		color: @white;
		&:hover {
			color: @white;
			border-color: @blue;
			background-color: @blue;
		}
	}
	&.white {
		border-color: @white;
		color: @white;
		&:hover {
			color: @mediumGrey;
			border-color: @white;
			background-color: @white;
		}
	}
	&:hover {
		color: @darkGrey;
		border-color: @darkGrey;
	}
	&.fullwidth {
		width: 100%;
	}
	&.large {
		padding-top: 0.8em;
		padding-bottom: 0.8em;
	}
	&.medium {
		padding-top: 0.4em;
		padding-bottom: 0.4em;
	}
}