@white: #FFFFFF;
@mediumWhite: #EEE;
@lightGrey: #CCCCCC; //Dont-use this for font
@mediumGrey: #AAA; //font
@darkGrey: #666;

//http://www.colourlovers.com/palette/1005477/One_Fish_Two_Fish

@orange: #FFAB07;
@yellow: #E9D558;
@green: #72AD75;
@blue: #0E8D94;
@dead: #434D53;

.text-orange { color: @orange; }
.text-yellow { color: @yellow; }
.text-green { color: @green; }
.text-blue { color: @blue; }
.text-dead { color: @dead; }