@white: #FFFFFF;
@mediumWhite: #EEE;
@lightGrey: #CCCCCC; //Dont-use this for font
@mediumGrey: #AAA; //font
@darkGrey: #666;

//http://www.colourlovers.com/palette/92095/Giant_Goldfish

@blue: #69D2E7;
@water: #A7DBD8;
@sand:	#E0E4CC;
@peach: #F38630;
@orange: #FA6900;

.text-blue { color: @blue; }
.text-water { color: @water; }
.text-sand { color: @sand; }
.text-peach { color: @peach; }
.text-orange { color: @orange; }