.panel {
	&.orange {
		border-color: @orange;
		.panel-heading {
			background-color: @orange;
			color: @white;
		}
	}
	&.blue {
		border-color: @blue;
		.panel-heading {
			background-color: @blue;
			color: @white;
		}
	}
	&.lightGrey {
		border-color: @lightGrey;
		.panel-heading {
			background-color: @lightGrey;
			color: @white;
		}
	}
}