.panel {
	&.orange {
		border-color: @peach;
		.panel-heading {
			background-color: @peach;
			color: @white;
		}
	}
	&.blue {
		border-color: @blue;
		.panel-heading {
			background-color: @blue;
			color: @white;
		}
	}
}