@import "bootstrap/bootstrap.less";

@import "color.less";
@import "button.less";
@import "panel.less";

@import "header.less";


body {
	color: @mediumGrey;
	font: 12px;
	font-family: "Helvetica Neue UltraLight", "Helvetica Neue Light","Helvetica Neue", "Lucida Grande", Helvetica, Arial, sans-serif;
}


#page-content {
	margin-top: 20px;
}

h1 {
	color: @mediumGrey;
	font-weight: normal;
	font-size: 4em;
	letter-spacing: 8px;
	border-bottom: 4px solid @mediumGrey;
	padding: 8px 4px;
}
h2 {
	font-weight: lighter;
	font-size: 2em;
	letter-spacing: 4px;
	padding: 8px 4px;
}

#index-banner {
	margin-top: 0px;
	height: 400px;
	padding: 0px;
	position: relative;
	#index-banner-img {
		width: 100%; height: 100%;
		position: absolute;
		background-image: url('../images/banner.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		filter: grayscale(1) blur(1px);
		-webkit-filter: grayscale(1) blur(1px);
		-moz-filter: grayscale(1) blur(1px);
		-o-filter: grayscale(1) blur(1px);
		-ms-filter: grayscale(1) blur(1px);
	}
	#index-banner-mask {
		width: 100%; height: 100%;
		position: absolute;
		background-color: darken(desaturate(@pink, 20%), 10%);
		opacity: 0.4;
	}
	#index-banner-content {
		width: 100%; height: 100%;
		position: absolute;
		text-align: center;
		color: @white;
		padding: 100px 20px;
		h2 {
			margin-bottom: 40px;
		}
		button {
			font-size: 1.6em;
		}
	}
}

.right {
	float: right;
}

#index-mobile-box {
	margin-bottom: 40px;
	font-size: 1.2em;
}