@import "bootstrap/bootstrap.less";


@white: #FFFFFF;
@mediumWhite: #EEE;
@lightGrey: #CCCCCC; //Dont-use this for font
@mediumGrey: #AAA; //font
@darkGrey: #666;

body {
	color: @mediumGrey;
	font: 12px;
	font-family: "Helvetica Neue UltraLight", "Helvetica Neue Light","Helvetica Neue", "Lucida Grande", Helvetica, Arial, sans-serif;
}

#page-header {
	background-color: @white;
	color: @mediumGrey;
	box-shadow: 2px 0px 4px @lightGrey;
	.container {
		margin-left: 0px; margin-right: 0px;
	}
	.navbar-header {
		a.navbar-brand {
			color: @darkGrey;
			font-size: 2em;
			letter-spacing: 6px;
		}
	}
	.navbar-nav {
		li {
			a {
				color: @mediumGrey;
				padding-top: 2px;
				margin-top: 16px;
				padding-bottom: 2px;
				letter-spacing: 2px;
			}
			a:hover {
				background-color: transparent;
				border-bottom: 1px solid @lightGrey;
			}
		}
		
	}
	#header-search {
		position: absolute;
		right: 140px;
		left: 420px;
		padding: 2px 12px;
		font-size: 1em;
		letter-spacing: 1px;
		margin-top: 16px;
		border: 1px solid @mediumWhite;
		border-radius: 1px;
		color: @mediumGrey;
	}
	#header-connection-button {
		margin-top: 15px;
		position: absolute;
		right: 20px; width: 100px;
	}
	
}
#page-content {
	margin-top: 80px;
}

h1 {
	color: @mediumGrey;
	font-weight: normal;
	font-size: 4em;
	letter-spacing: 8px;
	border-bottom: 4px solid @mediumGrey;
	padding: 8px 4px;
}

.button {
	border: 1px solid @lightGrey;
	color: @mediumGrey;
	background-color: transparent;
	border-radius: 1px;
	font-size: 1em;
	letter-spacing: 1px;
}
.button:hover {
	color: @darkGrey;
	border-color: @darkGrey;
}